{:paths ["src"]
 :deps
 {
  user.java.io/user.java.io                       {:mvn/version "2018.301.48672"}
  user.apache.maven.alpha/user.apache.maven.alpha {:mvn/version "2021.61.26503"}
  }
 :aliases
 {
  :provided
  {:extra-deps
   {
    org.clojure/tools.deps.alpha {:mvn/version "0.12.1030"}
    }}


  :test
  {:extra-paths ["test"]
   :extra-deps
   {
    org.clojure/tools.cli         {:mvn/version "1.0.206"}
    org.clojure/tools.namespace   {:mvn/version "1.0.0"}
    user.java.time/user.java.time {:git/url "https://github.com/aJchemist/user.java.time.git" :sha "3a41c91dbc37a6109500185d04299d4a9cf9fa80"}
    }}


  :test-runner
  {
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha     "9e35c979860c75555adaff7600070c60004a0f44"}}
   :main-opts  ["-m" "cognitect.test-runner"]
   :exec-fn    cognitect.test-runner.api/test
   :exec-args  {:dirs ["src/test"]}
   }


  :1.9
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.9.0"}
    }}


  :1.10
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.10.3"}
    }}}}
