{:paths ["src"]
 :deps
 {
  user.java.io            {:mvn/version "2018.301.48672"}
  user.apache.maven.alpha {:mvn/version "2018.356.52209"}
  }
 :aliases
 {
  :provided
  {:extra-deps
   {
    org.clojure/tools.deps.alpha {:mvn/version "0.8.677"}
    org.apache.maven/maven-model {:mvn/version "3.5.4"}
    }}


  :test
  {:extra-paths ["test"]
   :extra-deps
   {
    org.clojure/tools.cli {:mvn/version "1.0.194"}
    user.java.time        {:git/url "https://github.com/aJchemist/user.java.time.git" :sha "68aaf15bbef09c96dc2cb02d9e2f2a7d9e7cfd30"}
    }}


  :test-runner
  {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner" :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts  ["-m" "cognitect.test-runner" "-d" "test"]}


  :1.9
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.9.0"}
    }}


  :1.10
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.10.1"}
    }}}}
